.canvas__header {
  position: absolute;
  z-index: 1;

  display: flex;
  width: 100%;
  justify-content: space-between;
  h1 {
    font-family: Fantasy;
    margin-left: 20px;
    font-size: 1em;
    @media only screen and (max-width: 600px) {
      font-size: 0.7em;
    }
  }

  &__actions {
    .addImageButton {
      position: relative;
      label {
        position: absolute;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
      }
      #addImageButton__input {
        display: none;
      }
    }
    &__group {
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}
